<h1 class="headline-title display-4 font-weight-bold">New Scorecard</h1>
<button class="btn btn-warning btn-lg shadow my-3" onclick="javascript:window.history.back();">Back to matches</button>
<div class="row">
  <%= render 'shared/left_photo_link', project: @project, reviewed: false %>
  <div class="col-lg-6 col-sm-12">
    <%= render 'form', score_card: @score_card %>
  </div>
</div>