<h1 class="headline-title display-4 font-weight-bold">New Score Card</h1>

<div class="row">
  <div class="col-lg-6 col-sm-12 thumb-mid shadow rounded"
    style="background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(<%= "//image.thum.io/get/auth/5172-feedbackexchange/crop/1000/#{@project.url}" %>); background-size: cover;">
    <a href="<%= @project.url %>" target="_blank" class="link-full-div">      
      <h2>CLICK TO VISIT</h2>
    </a>
  </div>
  <div class="col-lg-6 col-sm-12">
    <%= render 'form', score_card: @score_card %>
  </div>
</div>