<h1 class="display-5 font-weight-bold">Amazingly simple.</h1>
<div class="row mb-4">
  <div class="col-md-4">
    <h3>1. Submit Your Project</h3>
    <p>Tell us a little bit about your startup or side hustle, and what you hope to achieve from it. This will help us match you up with the right person to provide you feedback.</p>
  </div>
  <div class="col-md-4">
    <h3>2. Critique A Project</h3>
    <p>We'll match you up with another startup founder looking for feedback. We ask that you spend a reasonable amount of time getting to know their project, and fill out a scorecard that'll help make them better.</p>
  </div>
  <div class="col-md-4">
    <h3>3. Get Feedback</h3>
    <p>In exchange for helping another startup, you'll get your own project reviewed with a scorecard. It'll list out ways you can improve, and suggestions for your project!</p>
  </div>
</div>
<div class="w-100 mx-auto my-4 py-4 px-auto text-align">
  <h1 class="display-5 font-weight-bold">Anonymous feedback is truth.</h1>
  <p>Anonymous feedback reveals the true flaws of your project and helps you improve.</p>
  <a href="/review" class="col-lg-10 col-sm-12 d-block">
    <img src="/img/scorecardshot.png" class="img-fluid shadow" />
  </a>
</div>
<div class="w-100 mx-auto my-4 py-4 px-auto text-align">
  <h1 class="display-5 font-weight-bold">Karma is at work.</h1>
  <p>The more scorecards you submit, the more often your projects get reviewed.</p>
  <a href="/review" class="col-lg-10 col-sm-12 d-block">
    <img src="/img/reviewshot.png" class="img-fluid shadow" />
  </a>
</div>
<div class="w-100" id="about">
  <p></p>
  <h1 class="display-5 font-weight-bold">About FeedbackExchange</h1>
  <div class="col-lg-10 col-sm-12 d-block">
    <p>One of the hardest parts of building a startup or side hustle is that you generally get feedback from friends and family, and thus people who are generally going to be nice to you. As a result, it's usually challenging to get real, honest feedback for your work.</p>
    <p>Sometimes painful feedback is what you need. Until the truth comes out, you won't know what's holding your project back from being something amazing and useful.</p>
    <p>I built a tool that helps you get anonymous (truthful) feedback for your project by giving feedback to other projects. It's called FeedbackExchange and it just launched.</p>
    <p>The concept is simple: anonymous makers can get their projects reviewed every time they fill out a scorecard. Scorecards are completely anonymous, and are done by other makers who could be in your target audience. Occasionally, you also review scorecards to ensure quality. That's it.</p>
    <p>Questions or comments? Email <strong>feedbackdotexchange@gmail.com</strong></p>
    <h4>Important to note:</h4>
    <p>We will NEVER sell your data, especially personally identifiable information like email addresses.</p>
    <p>We may email you ONLY IF 1) you're getting a scorecard for your project, or 2) you opt-in to our newsletter.</p>
    <p>Scorecards will NEVER be indexed on any search engine, unless you want it to be.</p>  
    <p>Scorecards of your site are generally anonymous, though occasionally we'll show them to other users to rate how good the reviewer is.</p>
    <p>If you see your project on this site, and you don't want it here, email us and we'll take it off along with all scorecards attached.</p>    
  </div>
</div>
<h1 class="display-5 font-weight-bold">Discover cool projects.</h1>
<div class="row mb-4">
  <% @projects.each do |project| %>
    <div class="col-md-4">
      <h3 class="lead"><%= project.name %></h3>
      <a href="<%= current_user ? project.url : "/review/#{project.id}" %>" target="_blank" class="link-full-div">
        <img src="<%= "//image.thum.io/get/crop/1000/#{project.url}" %>" class="img-fluid shadow rounded" />
      </a>
    </div>
  <% end %>
</div>
