<div class="row">
  <div class="col-md-4">
    <h2>1. Submit Your Project</h2>
    <p>Tell us a little bit about your startup or side hustle, and what you hope to achieve from it. This will help us match you up with the right person to provide you feedback.</p>
  </div>
  <div class="col-md-4">
    <h2>2. Critique A Project</h2>
    <p>We'll match you up with another startup founder looking for feedback. We ask that you spend a reasonable amount of time getting to know their project, and fill out a scorecard that'll help make them better.</p>
  </div>
  <div class="col-md-4">
    <h2>3. Get Feedback</h2>
    <p>In exchange for helping another startup, you'll get your own project reviewed with a scorecard. It'll list out ways you can improve, and suggestions for your project!</p>
  </div>
</div>
