<% if notice %>
  <div class="w-100">
    <p class="alert alert-success border-0 shadow"><%= notice.html_safe %></p>
  </div>
<% end %>
<% if alert %>
  <div class="w-100">
    <p class="alert alert-danger border-0 shadow"><%= alert %></p>
  </div>
<% end %>