<p id="notice"><%= notice %></p>

<h1 class="headline-title display-4 font-weight-bold">Matches</h1>

<% @matches.each do |match| %>
  <img src="<%= "//image.thum.io/get/auth/5172-feedbackexchange/#{match.project.url}" %>" />
<% end %>